.footer {

  background-color: #696B69;
  color: white;

  span {
    cursor: pointer;
    user-select: none;
    font-size: 22pt;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .content-left {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
    filter: invert(0.5) saturate(5)  brightness(1.5)
  }

  .content-left:hover {
    filter: invert(0.5) saturate(5)  brightness(5)
  }

  .content-center {
    grid-area: 1 / 2 / span 1 / span 1;
    text-align: center;
    filter: invert(.35) saturate(1)  brightness(1.2)
  }

  .content-center:hover {
    filter: invert(.35) saturate(1)  brightness(1.5)
  }

  .content-right {
    grid-area: 1 / 3 / span 1 / span 1;
    text-align: center;
    filter: invert(0.5) saturate(5)  brightness(1.3)
  }

  .content-right:hover {
    filter: invert(0.5) saturate(5)  brightness(5)
  }

  .active {
    filter: sepia(200)
  }

}