.app {

  padding: 5px;

  .grid {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 25px;
  }
  
  .header {
    grid-area: 1 / 1 / span 1 / span 1;
    border: 1px dotted pink;
  }

  .content {
    grid-area: 2 / 1 / span 1 / span 1;
    border: 1px dotted pink;
  }

  .footer {
    grid-area: 3 / 1 / span 1 / span 1;
    border: 1px dotted pink;
  }

  // @media /* Tablets */
  //   screen and (min-width: 768px) and (max-width: 1536px), /* FOR INITIAL TESTING */
  //   handheld and (min-width: 768px) and (orientation: portrait),
  //   handheld and (min-height: 768px) and (orientation: landscape) {
    
  //   .grid {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     grid-template-rows: 50px 1fr 25px;
  //   }

  //   .header {
  //     grid-area: 1 / 1 / span 1 / span 2;
  //     border: 1px dotted green;
  //   }

  //   .content {

  //   }

  //   .content-left {
  //     grid-area: 2 / 1 / span 1 / span 1;
  //     border: 1px dotted green;
  //   }

  //   .content-right {
  //     grid-area: 2 / 2 / span 1 / span 1;
  //     border: 1px dotted green;
  //   }

  //   .footer {
  //     grid-area: 3 / 1 / span 1 / span 2;
  //     border: 1px dotted green;
  //   }

  // }

  // @media /* Desktop */
  //    not handheld {
    
  //   .grid {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     grid-template-rows: 50px 1fr 25px;
  //   }

  //   .header {
  //     grid-area: 1 / 1 / span 1 / span 3; // and (orientation: landscape)
  //     border: 1px dotted blue;
  //   }

  //   .content {

  //   }

  //   .content-left {
  //     grid-area: 2 / 1 / span 1 / span 1;
  //     border: 1px dotted blue;
  //   }

  //   .content-center {
  //     grid-area: 2 / 2 / span 1 / span 1;
  //     border: 1px dotted blue;
  //   }

  //   .content-right {
  //     grid-area: 2 / 3 / span 1 / span 1;
  //     border: 1px dotted blue;
  //   }

  //   .footer {
  //     grid-area: 3 / 1 / span 1 / span 3;
  //     border: 1px dotted blue;
  //   }

  // }


}