.footer {

  background-color: #696B69;
  color: white;
  
  span {
    cursor: pointer;
    user-select: none;
    font-size: 22pt;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .content-left {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
  }

  .content-center {
    grid-area: 1 / 2 / span 1 / span 1;
    text-align: center;
  }

  .content-right {
    grid-area: 1 / 3 / span 1 / span 1;
    text-align: center;
  }

}